ENGINE_DOCKER_NAME=XXXXXXXXXXXX

NEO4J_URI=neo4j+s://XXXXXXXXXXXX.databases.neo4j.io
NEO4J_USERNAME=XXXXXXXXXXXX
NEO4J_PASSWORD=XXXXXXXXXXXX
NEO4J_DATABASE=XXXXXXXXXXXX
AURA_INSTANCEID=XXXXXXXXXXXX
AURA_INSTANCENAME=XXXXXXXXXXXX