.tool{
background:#111827;
padding:10px;
margin-top:10px;
border-radius:8px;
font-size:14px;
cursor:pointer;
border:1px solid #1f2937;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tool:hover{
background:#1f2937;
}

.btn{
background:#111827;
color:white;
border:none;
padding:8px 14px;
border-radius:8px;
cursor:pointer;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 600;
}

.btn-orange{
background:#f97316;
color:white;
border:none;
padding:8px 16px;
border-radius:8px;
cursor:pointer;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 700;
}